<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Expand-Table-Error</title>
    <link rel="stylesheet" href="table-arrow.css">
</head>
<body>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <td>姓名</td>
            <td>姓名</td>
            <td>姓名</td>
            <td>姓名</td>
            <td>姓名</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>姓名</td>
            <td>姓名</td>
            <td>姓名</td>
            <td>姓名</td>
            <td>姓名</td>
        </tr>
        <tr class="name none">
            <td>下拉才有我</td>
            <td>下拉才有我</td>
            <td>下拉才有我</td>
            <td>下拉才有我</td>
            <td>下拉才有我</td>
        </tr>
        <tr class="name none">
            <td>下拉才有我</td>
            <td>下拉才有我</td>
            <td>下拉才有我</td>
            <td>下拉才有我</td>
            <td>下拉才有我</td>
        </tr>
        <tr class="name none">
            <td>下拉才有我</td>
            <td>下拉才有我</td>
            <td>下拉才有我</td>
            <td>下拉才有我</td>
            <td>下拉才有我</td>
        </tr>
        </tbody>
    </table>
    <div class="box" id="box" onclick="clickBox()">
        <div class="up-box" id="up">
            <div class="up-arrow-container">
                <div class="up-arrow-up"></div>
                <div class="up-arrow-down"></div>
            </div>
        </div>
        <div class="down-box none" id="down">
            <div class="down-arrow-container">
                <div class="down-arrow-up"></div>
                <div class="down-arrow-down"></div>
            </div>
        </div>
    </div>

</div>
</body>

<script src="../../../node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="./table-arrow.js"></script>

</html>